/T4/NetBeans-srcCorrigido/Calculadora-Geometrica/target/
/T4/[[]Dependency Inversion Principle]-Calculadora-Geometrica/build/
/T4/[[]Dependency Inversion Principle]-Calculadora-Geometrica/nbproject/private/
